#news_title {
    text-decoration: none;
    color: black;
}

#news_title:hover {
    text-decoration: underline;
    text-decoration-color: black;
}

.fa-long-arrow-alt-up {

}

.btn-default {
    margin-bottom: 30px;
}

.fa-imdb {
    font-size: 25px;
    margin-right: 10px;
}

#vote_balance p{
    text-align: center;
}

.row {
    margin-bottom: 20px;
}

.fa-long-arrow-alt-up {
	float:right;
}

.fa-long-arrow-alt-down {
	float:right;
}

.row :nth-child(3) {
}

.col-6 p{
    font-size: 10px;
    color: grey;
}

.col-6 .comments{
    font-size: 10px;
    float: right;
}

.col-1 {
    font-style: italic;
}

#submit {
    float: right;
}

#join {
    float: right;
}

#join {
    margin-right: 20px;
    padding-top: 5px;
    font-weight: bold;
    font-size: 20px;
    color: #1a3073;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

 body {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
}
