 body {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
}

.Sender {
    margin-bottom: 20px;
    font-size: 12px;
}
.font-weight-bold {
    margin-bottom: 0px;
    font-size: 20px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

.username {
    float:right;
}

#unopenMessage {
    margin-top: 8px;
    margin-right: 10px;
}

#openMessage {
    margin-top: 6px;
    margin-right: 10px; 
}

#secondRow {
    color: grey;
}

#thirdRow {
    color: grey;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

img {
    border: #2c2c2c 4px solid;
    border-radius: 100px;
    float:right;
}

.col-centered{
    
}

#first_container :nth-child(2) {
    float: right;
    margin: 0 auto;
}

#name {
    font-size: 25px;
    color: #1a3073;
    text-align: right;
    padding-top: 50px;
}

#bio {
    font-size: 10px;
    font-style: italic;
    padding-top: 13px;
}

#age {
    margin-top: 50px;
    margin-left: 12px;
}

#nationality {
    margin-top: 5px;
    margin-left: 30px;
}

#email {
    margin-top: 5px;
    margin-left: 30px;
}

#edit_profile {
    float: right;
}

#third_container :first-child {
    float: right;
}