html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
}


h1, h2 {
    font-family: 'harriet';
    margin-right: 0.2em;
    margin-bottom: 0em;
}

/* Font-faces */
@font-face {
    font-family: 'harriet';
    src: url('assets/fonts/Harriet Display Bold Italic.otf');
}

.inbox{
    margin-top: 10px;
    margin-right: 5px;
}

#adminPanel{
    color:red;
}

#horizontal-style {
    display: table;
}
#horizontal-style li {
    display: table-cell;
}
#horizontal-style a {
    display: block;
    text-align: center;
}

.footer {
    margin-top: 40px;
}

btn-save-label{

	display:block;
    margin: 0 auto;
}
