

input[type=text] {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid rgb(206, 206, 206);
    width: 494px;
    height: 29px;
}

.field-input {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}



#usernamelabel{
    float: left;

}
#username{
    float:left;
    padding: 0px;
    width: 70%

}


#img-responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Font-faces */
@font-face {
    font-family: 'harriet';
    src: url('assets/fonts/Harriet Display Bold.otf');
}
